html{
    background-color: #f5f5dd;
    margin: 0;
    height: 100%;
}
body{
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.Wrap{
    width: 960px;
    margin: 0 auto;
}
main{
    display:flex;
}

nav,aside{
    margin-top: 15px;
}

header,footer{
    background-color:white;
    border-bottom: solid 1px#cccccc ;
    padding-top: 5px;
}

header img{
    float: left;
}
header form{
    float: right;
}

header ul{
    display: flex;
    padding-left:0 ;
    margin: 0;
}

header p {
    color: #664433;
    clear: both;
}
 
header li {
    text-align: center;
    width: 20%;
    background-color:white;
    list-style: none;
    border-right: solid 1px #cccccc;
    padding-bottom: 0px;
 }

header li:last-child{
     border-right: none;
     text-align: center;
   
}
header a{
    display:block;
    color: black;
    text-decoration:none; 
}
section{
    background-color: white;
    
}
h1{
    background-color: #99BB22;
    color: white;
}

.aaa{
    margin: 10px;
}

nav{
     width: 190px; 
}
nav section{
    margin-bottom: 10px;
    margin-right: 12px;
    padding: 6px;
}
nav ul{
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 5px;
    padding-left: 0px;
}
 
nav h1{
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius:15px;
    padding: 4px;
 }

nav li{
    border-bottom: dashed 1px  #cccccc;
    list-style: none;
    padding: 7px;
    padding-left: 0px;
}

 nav li:last-child{
    border-bottom: none;
    clear: both;
}
nav a{  
        color: black;
        text-decoration:none; 
}
.nava{
    display: block;
}
.article_area{

     width:606px;   
     margin-top: 15px;
     margin-right: 12px;
}
article section{
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 0px;
    background-color: white;
    overflow:auto;
}
article{
     margin-bottom: 10px;
}


article h1{
    border-radius:15px 15px 15px 15px;
    clear: both;
    padding: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.img5{
    float: left;
    margin: 16px;
    margin-bottom: 3px;
}
article h6{ 
    font-size: 0.2%;
    float: left;
    margin: 6px 18px;
    margin-bottom: 0px;
    text-align: center;
}
article h6 :last-child{
    clear: both;
}

article p{   
    text-indent: 1em;
    float: left;
    font-size: 12px;
    width: 50%;
    padding: 5px;
    margin: 10px;
    margin-top: 15px;
    margin-left: 20px;
}

article h4{
    margin: 10px;
    margin-bottom: 0px;
    float: left;
    color: rgb(122, 23, 5);
}
.img2{
    margin-top: 15px;
    margin-bottom: 20px;
    float: left;
}
.img3{
    margin-top: 15px;
    float: left;
}
.img6{
    float: left;
    margin-top: 10px;
}
.img7{
    float: right;
    color: #edb409;
}
article .a2 :last-child{
    clear: both;
    float: right;
}
.img4{
    float:right;
    margin-top: 0px;
    margin-bottom: 10px;
}
.article_area2{
    height: 200px;
}
.div_last{
    float: right;
}


footer{
  border-top: solid 1px#cccccc;
  clear: both;
}
.Wrap2{
    width:600px;
    margin: 0 auto;
}
aside{
    width:154px;
}
footer  ul{
    display: flex;
    padding-left:0 ;
    margin: 10,0;
}

footer li {
    text-align: center;
    width: 30%;
    background-color:white;
    list-style: none;
    border-right: solid 1px #cccccc;
    padding-bottom: 0px;
    font-size: 12px;
 }
 footer li:last-child{
    border-right: none;
    clear: both;
}

footer a{
    display: block;
    color: black;
    text-decoration:none; 
}
footer p{
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}